* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";
@import "flexbox";

@portrait: ~"(orientation: portrait)";

html, body {
  background: #111;
  color: #EEE;
}

.trades-gallery {

}

.slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  .justify-content(space-around);
  .align-items(stretch);
  padding: 16px;

  @media @portrait and @mobile {
    position: relative;
    height: auto;
    display: block;
  }

  &.active {
    .display-flex;
  }

  h1 {
    color: white;
  }
}

.intro .segment {
  .align-items(center);

  p {
    max-width: 500px;
    margin: auto;
  }
}

.segment {
  .flex(1 0 50%);
  position: relative;

  &.text {
    padding: 32px;
    .display-flex;
    .flex-direction(column);
    .justify-content(center);

    @media @mobile {
      padding: 0;
    }

    p {
      margin: 0;
      text-indent: 2em;
      font-size: 14px;

      &.chatter {
        font-size: 16px;
      }
    }
  }

  &.image {
    position: relative;
    padding: 0;
  }
}

.photo {
  position: absolute;
  top: 50%;
  left: 50%;
  -wekbit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  max-height: 100%;

  @media @portrait and @mobile {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    -wekbit-transform: none;
    transform: none;
  }
}