<%

var commonmark = t.require("commonmark");
var parser = new commonmark.Parser();
var renderer = new commonmark.HtmlRenderer();

var slides = {};
json.WomenInTrades_photos.forEach(function(row) {
  if (!slides[row.slide]) slides[row.slide] = [];
  slides[row.slide].push(row);
  row.text = renderer.render(parser.parse(row.text));
});
slides = Object.keys(slides).map(function(s) { return slides[s] });

%><!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow|Neuton:400,700' rel='stylesheet' type='text/css'>
    <%= t.include("partials/_adHead.html") %>
  </head>
  <body>

    <main class="trades-gallery">

      <header class="branding">
        <a href="http://seattletimes.com">
          <img src="./assets/st-logo.png">
        </a>
        <h1>Photo gallery</h1>
        <div class="counter"></div>
        <a class="fullscreen">VIEW FULLSCREEN</a>
      </header>

      <div class="slide-container">

        <a class="change-slide next">&raquo;</a>
        <a class="change-slide previous">&laquo;</a>

        <section class="slide intro active" data-index="intro">
          <div class="image segment">
            <img class="photo" src="assets/portrait035a.jpg">
          </div>
          
            
          <div class="text segment">
            <h1 class="hed"><span class="accent">Women</span> in <br>the trades
            </h1>
            <h3>A look into Puget Sound's hardworking women <br>in traditionally male jobs</h3>
            <div class="bylines">
              <p>By Susan Kelleher</p>
              <p>Photos by Bettina Hansen</p>
              <p>Development by Thomas Wilburn and Paige Collins</p>
            </div>
          </div>

        </section>
        

        <% slides.forEach(function(slide, i) { %>
        <section class="slide" data-index="<%= i %>">
          <% slide.forEach(function(item) { %>
            <% if (item.photo) { %>
          <div class="image segment">
              <img class="photo" src="assets/<%= item.photo %>">
            <% } else { %>
          <div class="text segment">
            <%= item.text %>
            <% } %>
          </div>
          <% }); %>
        </section>
        <% }); %>

        <section class="slide" data-index="outro">
          <div class="outro text segment">
            <h1>About this project</h1>

            <p>The women featured in this story were photographed using a 4x5 camera with black and white film.

            <p>Bettina Hansen is a Seattle Times staff photographer. Reach her at <a href="mailto:bhansen@seattletimes.com">bhansen@seattletimes.com</a>. On Twitter and Instagram <a href="http://twitter.com/bettinahansen">@bettinahansen</a>.

            <p>Susan Kelleher is a Pacific NW magazine staff writer. Reach her at <a href="mailto:skelleher@seattletimes.com">skelleher@seattletimes.com</a> or 206-464-2508. On Twitter <a href="http://twitter.com/SusanKelleher">@SusanKelleher</a>. 

            <h2>Don't Miss</h2>
            <div class="teasers">
              <div class="tzr">
                <a href="http://www.seattletimes.com/pacific-nw-magazine/game-on-women-are-developing-new-video-games-and-a-new-culture/"><img src="./assets/gamer_tzr.jpg">
                  <h3> ‘This has got to change’: Women game developers fight sexism in industry</h3>
                </a>
              </div>
              <div class="tzr">
                <a href="http://projects.seattletimes.com/2014/pictures-of-the-year/"><img src="./assets/poy_tzr.jpg">
                  <h3>Explore the 2014 Pictures of the Year</h3>
                </a>
              </div>
            </div>
              <a data-jump="0" href="javascript:;">Return to start</a>
          </div>
        </section>

      </div>

      <footer class="ad">
        <%= t.include("partials/_ad.html", { type: "banner" }) %>
      </footer>

    </main>

    <script src="app.js"></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_adFoot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
